.body4{
    background-color: black;
}
/*copy of navigation styles in home*/
ul li {
    display: flex;
    float: right;
    padding-right: 1%;
    padding-top: 1%;                   
    z-index: 10;
    list-style-type: none;
}

ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 500;
    font-family: sans-serif;
    padding: 8px 15px;  
    border-radius: 6px; 
    transition: 0.3s; 
     
}


ul li a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    color: #00ffff;
    border-radius: 20px;
}

.h{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: aliceblue;
    position: absolute;
    font-size: 100px;
    left: 40%;
    top: 30%;
}
hr{
    border: none;
    height: 2px;
   
    width: 100%;
    
    background: linear-gradient(to right, black, rgb(0, 8, 255), black);
}

footer{
    height:300px;
    background-color:black;
}

footer p{
    color: aliceblue;
    font-size: x-large;
}

.p4{
    position: absolute;
    top: 105%;
    left: 20%;
}

.p5{
    position: absolute;
    top: 105%;
    left: 60%;
}


footer a{
    color: aqua;
    font-size: large;
    
}

.a1{
    position: absolute;
    top: 115%;
    left: 17%;
}
.a2{
    position: absolute;
    top: 120%;
    left: 17%;
}

footer textarea{
    width: 400px;
    border-radius: 15px;
    padding-left: 10px;
    position: absolute;
    top: 115%;
    right: 17%;
}

.sub{
    width: 90px;
    height: 40px;
    position: absolute;
    top: 115%;
    right: 10%;
    border-radius: 20px;
    cursor: pointer;

}

footer div{
    color: aliceblue;
    position: absolute;
    top: 130%;
    left: 40%;
}